Initiated 2024 07 01

In [1]:
#import packages

import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
#from sklearn

In [2]:
df=pd.read_csv('data/scrubbed.csv')

C:\Users\monic\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3417: DtypeWarning: Columns (5,9) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

In [7]:
df.dtypes

datetime                 object
city                     object
state                    object
country                  object
shape                    object
duration (seconds)       object
duration (hours/min)     object
comments                 object
date posted              object
latitude                 object
longitude               float64
dtype: object

In [8]:
df.shape

(80332, 11)

In [10]:
df.count()

datetime                80332
city                    80332
state                   74535
country                 70662
shape                   78400
duration (seconds)      80332
duration (hours/min)    80332
comments                80317
date posted             80332
latitude                80332
longitude               80332
dtype: int64

In [13]:
df.isna().sum()

datetime                   0
city                       0
state                   5797
country                 9670
shape                   1932
duration (seconds)         0
duration (hours/min)       0
comments                  15
date posted                0
latitude                   0
longitude                  0
dtype: int64

In [24]:
df['country'].value_counts(dropna=False)

us     65114
NaN     9670
ca      3000
gb      1905
au       538
de       105
Name: country, dtype: int64

In [23]:
df['country'].unique()

array(['us', nan, 'gb', 'ca', 'au', 'de'], dtype=object)

In [15]:
#write a function that returns true if a palindrome, false if it doesn't (e.g., kayak, racecar)
#compare characters in place; or reverse the string and compare if the two strings are equal
#compare 0 to -1, 1 to -2, 2 to -3, etc.
#for loop- for x-postions in string/word compare -(equal?)


#def palindrome

palindrome = "kaybak"
for position in range(0, len(palindrome)):
    position2 = (position + 1) * -1
    if palindrome[position] == palindrome[position2]:
        print("True")
    else: 
        print("False")

        
#print(palindrome[2])

True

In [ ]:
def palindrome (string):
    for position in range(0, len(string)):
        position2 = (position + 1) * -1
        if string[position] == string[position2]:
            continue
        else: 
             return False
    return True